












	body {
		background-color: #eee;
	}


/* 布局 */

	.header {
		width: 85%;
		margin: 0 auto;
	}
	.main-continer {
		width: 85%;
		margin: 0 auto;
	}





	.post-body {
		font-size: 20px !important
	}


/* 颜色 */

	body {
		color: #555;
	}
	.next-md-body {
		color: #555;
	}
	.next-md-body h1, .next-md-body h2 {
		border-bottom-color: #555;
	}



	.archive-timeline-box::after, .tag-timeline-wrapper::after {
		background: #eeeeeeFF;
	}



	h1, h2, h3, h4, h5, h6 {
		color: #212529;
	}
	.archive-timeline-title::before {
		background-color: #212529;
	}
	.post-title-link::before {
		background-color: #212529;
	}
	.node-title::before {
		background-color: #212529;
	}



	a {
		color: #4263eb;
	}
	.next-md-body a, .friends-box a  {
		color: #4263eb;
	}



	a:hover {
		color: #748ffc;
	}
	.archive-timeline-box .tag-node:hover::before {
		background-color: #748ffc;
	}
	.markdownIt-TOC a:hover {
		color: #748ffc;
		border-bottom-color: #748ffc;
	}
	.next-md-body a:hover, .friends-box a:hover {
		color: #748ffc;
		border-bottom-color: #748ffc;
	}



	.nav-toggle .line {
		background-color: #fff !important;
	}



	.nav-item a {
		color: #555;
	}



	.nav-item a:hover {
		color: #222;
	}



	.nav-item-active {
		background: #f9f9f9FF;
	}

	.nav-item:hover {
		background: #f9f9f9FF;
		color: rgba(0, 0, 0, 0.98);
	}



	#get-progress-bar {
		position: fixed;
		top: 0;
		left: 0;
		width: 0; 
		height: 5px;
		background-color: #66a80fFF;
		transition: width 0.3s linear; 
		z-index: 9999;
	}


/* 特性 */

	/* copy from juejin */
	.site-author-image {
		border-radius: 50%;
	}
	.site-author-image:hover {
		transform: rotate(666turn);
		transition-delay: 1s;
		transition-property: all;
		transition-duration: 59s;
		transition-timing-function: cubic-bezier(.34,0,.84,1);
	}




/* 目录 */

	.toc-wrapper {
		max-height: 90vh;
		overflow: auto;
	}



	.markdownIt-TOC a {
		color: #4263eb;
		border-bottom-color: #4263eb;
	}



	.markdownIt-TOC a:hover {
		color: #e03131;
		border-bottom-color: #e03131;
	}



	.active-current > a {
		color: #fa5252 !important;
		border-bottom-color: #fa5252 !important;
	}
	.sidebar-title-active {
		color: #fa5252;
		border-bottom-color: #fa5252;
	}
	.sidebar-title-item:hover {
		color: #fa5252 !important;
	}
	.active-show > a {
		color: #fa5252;
		border-bottom-color: #fa5252;
	}
	.active-hidden > a {
		color: #fa5252;
		border-bottom-color: #fa5252;
	}


/* 魔改 */

	.bg-color {
		background-color: #ffffffFF;
	}





	.site-meta {
		background: #000 !important;
	}
	.head-top-line {
		background: #000;
	}



	.brand {
		background: #000000FF
	}





	.main-title, .brand {
		color: #FFF !important;
	}
	.mist .site-title i {
		background: #FFFFFFFF;
	}







	body {
		cursor: default;
	}



	a {
		cursor: pointer;
	}



	input, textarea, code {
		cursor: text;
	}



	code > span.copy-code {
		cursor: pointer;
	}



	.post img {
		cursor: zoom-in;
	}




	.post img {
		cursor: zoom-out;
	}
